<% include partials/header.ejs %>
<div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <h3>WELCOME TO</h3>
                <h1 style="font-family: 'DM Serif Text', serif;font-size:100px;color:#ff6768;letter-spacing: 20px;">VeryFind.</h1>
            </div>
        </div>
    </div>
<% include partials/footer.ejs %>