<% include partials/header.ejs %>
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <h1>Result</h1>
      <div class="card">
        <div class="card-body">
          <h3 id="name"><%=transcriptData.name%></h3>
          <h6 id="name">GPA : <%=transcriptData.gpa%></h6>
          <h6 id="name">Date of Graduation : <%=transcriptData.date%></h6>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>