<% include partials/header.ejs %>
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <h1>Result</h1>
      <div class="card">
        <div class="card-body">
          <h3 id="status"><%=status%></h3>
          <p id="hash"><%=hash%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>